<a href="https://colab.research.google.com/github/pavankota59/Python_practice/blob/main/06_06_Pytho_basics_and_functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/pavankota59/pavan

Cloning into 'pavan'...
warning: You appear to have cloned an empty repository.

In [ ]:
print("hello")

waste

In [ ]:
k = input("enter: ")
print("output:",k)

enter: hello
output: hello

In [ ]:
print("hello", "world", sep=' ')
print("1", "2", "3", "4", sep=' ')

hello world
1 2 3 4

In [ ]:
print("hello", end=' ')
print("world")

print("hello", end='\n')
print("world")

hello world
hello
world

data types

In [ ]:
str = "hello"
int = "595"
float = "0.595"
complex = "5+9j"
print(str, int, float, complex)

hello 595 0.595 5+9j

expressions and operators

In [ ]:
a = 9
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

14
4
45
1.8
1
4
59049

type casting

In [ ]:
num_int = 10
print(num_int)

num_float = float(num_int)
print(num_float)

num_str = str(num_int)
print(num_str)

my_list = [1, 2, 3]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

my_set = set(my_list)
print(my_set)

10
10.0
10
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}

conditional statements

In [ ]:
grade = 85

if grade >= 90:
  print("You got an A!")
elif grade >= 80:
  print("You got a B!")
elif grade >= 70:
  print("You got a C.")
else:
  print("You need to improve.")

You got a B!

looping statements

In [ ]:
for i in range(1,16):
  print(i)
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10

special functions

In [ ]:
a=[4,7,46,87,35,788,24,55]

print("size:", len(a))

print("maximum value:",max(a))

print("minimum value:",min(a))

print("Summation:",sum(a))

print("sorted list:",sorted(a))

print("Elements:", " ".join(map(str, a)))

for i in a:

  print(i,end=" ")

print("Type:", type(a))

print("id of object a:", id(a))

size: 8
maximum value: 788
minimum value: 4
Summation: 1046
sorted list: [4, 7, 24, 35, 46, 55, 87, 788]
Elements: 4 7 46 87 35 788 24 55
4 7 46 87 35 788 24 55 Type: <class 'list'>
id of object a: 138901440661888

In [ ]:
letters = ['6', '8', '2', '7', '9', '7']

list_length = len(letters)
print("Length of the list:", list_length)

list_id = id(letters)
print("Memory address of the list:", list_id)

list_type = type(letters)
print("Data type of the list:", list_type)

number_range = range(6)

print("Numbers in the range:")
for num in number_range:
  print(num, end=" ")

Length of the list: 6
Memory address of the list: 139338699325632
Data type of the list: <class 'list'>
Numbers in the range:
0 1 2 3 4 5

In [ ]:
number = int(input("Enter a number: "))

if number % 2 == 0:
  print(number, "is even.")
else:
  print(number, "is odd.")

print("\nSquares of number from 1 to 6:")
for i in range(1, 7):
  square = i * i
  print(i, "squared =", square)

Enter a number: 5
5 is odd.

Squares of number from 1 to 6:
1 squared = 1
2 squared = 4
3 squared = 9
4 squared = 16
5 squared = 25
6 squared = 36

In [1]:
numbers = [10, 5, 20, 1, 8, 15]

search_number = 15

found = False
for i in range(len(numbers)):
  if numbers[i] == search_number:
    found = True
    print("Found", search_number, "at index", i)
    break

if not found:
  print(search_number, "not found in the list")

print("\nEven numbers:")
for num in numbers:
  if num % 2 != 0:
    continue
  print(num, end=" ")

Found 15 at index 5

Even numbers:
10 20 8